:root {
  --accent-color: #ff0070;
  --accent-color-with-background: #000028;
  --accent-heading-color: #db00ff;
  --accent-heading-fs-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --accent-heading-fs-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --background-color: #000028;
  --button-color-hover: #ff007066;
  --cover-image: url(../images/cover-image-dark.png);
  --font-family: 'IBM Plex mono', monospace;
  --headers-color: #ff0070;
  --heading-color: #ff0070;
  --menu-color: #ff0070;
  --rec-bracket-color: #ff0070;
  --rec-decoration-color: #ff0070;
  --text-color: #f1b2ce;
}